# 1. Create 3 variables to store street, city and country, now create address variable to store entire address. Use two ways of creating this variable, one using + operator and the other using f-string. Now Print the address in such a way that the street, city and country prints in a separate line

In [19]:
street = "Vijayanagar"
city = "Mysore"
country = "India"
addressUsingOperator = street+"\n"+city+"\n"+country
addressUsingfString = f"{street}\n{city}\n{country}"
print("Using Operator:")
print(addressUsingOperator)
print("Using f-String:")
print(addressUsingfString)

Using Operator:
Vijayanagar
Mysore
India
Using f-String:
Vijayanagar
Mysore
India

# 2. Create a variable to store the string "Earth revolves around the sun"
   
   i. Print "revolves" using slice operator
   
   ii. Print "sun" using negative index

In [16]:
string = "Earth revolves around the sun"
print(string[6:14])
print(string[-3:])

revolves
sun

# 3. Create two variables to store how many fruits and vegetables you eat in a day. Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday. Use python f string for this.

In [17]:
numVeggies = 5
numFruits = 3
print(f"I eat {numVeggies} veggies and {numFruits} fruits daily")

I eat 5 veggies and 3 fruits daily

# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a wrong statement, the correct statement is 'maine 10 samosa khaye'. Replace incorrect words in original strong with new ones and print the new string. Also try to do this in one line.

In [21]:
s = "maine 200 banana khaye"
s = s.replace("200","10")
s = s.replace("banana","samosa")
print("Stirng after replacement: ", s)

s = "maine 200 banana khaye"
s = s.replace("banana","samosa").replace("200","10")
print("String afer single line replacement: ",s)

Stirng after replacement:  maine 10 samosa khaye
String afer single line replacement:  maine 10 samosa khaye